.strength {
  margin-top: 40px;
}

.strengthBar {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  margin-top: 40px;
  padding: 0;
  vertical-align: 2px;
}

.bar {
  background: #DDD;
  display: flex;
  height: 20px;
  width: 150px;
  border-radius: 10px;
}

p {
  font-weight: bold;
  font-size: 20px;
}

.message{
  font-size: 12px;
  height: 12px;
}

.error{
  color: red
}

.warn{
  color: #a99e03
}

.success{
  color: darkgreen
}
