<app-header></app-header>
<section>
  <div class="container">
    <h1 clas="headline">Test your password</h1>
    
    <form [formGroup]="passwordForm">
      <div class="form-group">
        <input 
          type="password" 
          class="form-control" 
          autocomplete="off" 
          placeholder="Enter your password" 
          formControlName="password"
        >
        <app-password-check
          [passwordToCheck]="passwordForm.value.password"
        ></app-password-check>
      </div>
    </form>
  </div>
</section>